extends sidebarbase

block content

    +heading("Enumeration", enumeration.key, namespace, enumeration.value.documentation) 

    h4 Values
        - var x = JSON.stringify(errors)
    table(class="table table-striped")
        tr
            th Type
            th Description
        each value in enumeration.value.values
            tr
                td #{value.value}
                - var docs = value.documentation
                td !{docs}
