extends metadatabase

block headstyle
    style.
        .item {
            font-size: 16px;
        }

block title
    title VMware vSphere REST API Documentation

block masthead
    <!-- Main jumbotron for a primary marketing message or call to action -->
    div(class="jumbotron")
        div(class="container")
            h1 vSphere REST API Reference
    div(style='clear: both')                

block content
    div(class="row")
        div(class="col-xs-12 col-sm-4 col-md-4")
            h2 Components
        div(class="col-xs-6 col-md-8")
            each item in Object.keys(items)
                div(class='item')
                    - var i = items[item]
                    a(href=items[item] + '.html') #{items[item]}
    