extends sidebarbase

block title
    title #{object}

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block maincontent
    +heading("Component Services", object, namespace, documentation)

    if Object.keys(services).length > 0
        h3 Services
        each service in Object.keys(services)
            +operationHeader(service, services[service], documentation)

    if structures
        h3 Structures
        hr
        //div(class='item-wrapper')
        //    each structure in structures
        //        div(class='item')
        //            a(href=`/structures/${structure.value.name}.html`) #{structure.value.name}
        ul
            

    if enumerations
        h3 Enumerations
        hr
        +enumerations(enumerations)

    p &nbsp;

    a(href='../index.html') Back
