extends sidebarbase

block title
    title #{structure.value.name}

block maincontent
    +heading("Structure", name, structure.key, documentation)

    +descriptionList(structure.value.fields, 'Fields', regex)