extends sidebarbase

block title
    title #{structure.value.name}

block maincontent
    +heading("Structure", name, info.key, structure.value.documentation)

    +descriptionList(structure.value.fields, 'Fields')