extends sidebarbase

block title
    title vAPI Warnings

block maincontent
    h2 vAPI Warnings
    p The following is a list of issues found processing the vAPI metamodel data.

    table(class="table")
        tr
            th Warning Message
        each warning in warnings
            tr
                td 
                    a(href=`${warning.path}`) #{warning.warning}

block sidebar
    p(class="eyebrow") Stats
    p Count #{warnings.length}
